.estudiante--cabecera {
  display: flex;
  flex-direction: column;
  gap: 2rem 0;
}
.estudiante--contedorTitulo {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.estudiante--contedorTitulo h1 {
  margin: 0;
}
.estudiante--cardList {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 1rem;
  justify-items: center;
  text-align: center;
}
